.idea
/.metadata/
/.recommenders/
/**/.project
/**/.classpath
/**/.settings
/**/app-local.properties
/*/target/
/*/bin/
*.orig
*.iml
*.ipr
*.iws
.DS_Store
*.factorypath
target/**
gatling
aws.properties
results.txt
/bin/
